<div>My series</div>
<input type="text" placeholder="Nom de série" [value]="inputTitle" (input)="handleChange(title.value)" #title>
<button (click)="handleAdd(title.value)">Valider</button>
<div>
    <ul>
        <li *ngFor="let serie of series$ | async">
            <span>{{serie.id}}</span>
            <span>{{serie.title}}</span>
        <input type="checkbox"  (change)="handleSeen(serie.id)" [checked]="serie.seen">
            <span>Seen : {{serie.seen}}</span>

            <button (click)="handleDelete(serie.id)">Supprimer</button>
        </li>
    </ul>
</div>

